body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
}

.errorMessage {
  color: red;
}

.textArea {
  width: 100%;
}

.outputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
